<style>
h2 {
   width: 100%; 
   text-align: left; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background: #ADD8E6; 
    padding:0 10px; 
}

#users{
  margin-left: 20px;
}

#rooms{
  margin-left: 20px;
}
</style>

<div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div class="h-60 lg:h-auto lg:w-50 flex-none bg-cover p-4 rounded-t lg:rounded-t-none lg:rounded-l overflow-hidden" style="background-color:#ADD8E6;" title="Woman holding a mug">
    <div class="text-center text-xl">  
      <h5> Hi <%= @current_user.username %> </h5>
    </div>
    <h2><span>Users</span></h2>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <br>
    <h2><span>Rooms</span></h2>
    <%= turbo_stream_from "rooms" %>
    <div id="rooms">
      <%= render @rooms %>
    </div>
    <%= render partial: "layouts/new_room_form" %>
    <%= link_to 'Sign Out', signout_path,  :method => :get %>
  </div>
  <div class="w-2/3 border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
    <% if @single_room %>
      <p class="text-sm text-gray-600 flex items-center">
        <div class="text-gray-900 font-bold text-xl mb-2">Start Chatting <%= @user&.username || @single_room.name %> Room</div>
      </p>
      <%= turbo_stream_from @single_room %>
      <div id="messages">
      <%= render @messages %>
      </div>
      </div>
      <div class="flex items-center">
      <%= render partial: 'layouts/new_message_form' %>
      </div>
    <% end %>  
  </div>
</div>